{% extends 'base.html.twig' %}

{% block title %}Posts{% endblock %}

{% block body %}
    <div>
        <div class="mt-4">
            <div class="navigation d-flex justify-content-center mb-2">
                {{ knp_pagination_render(posts, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig') }}
            </div>
            <div class="row">
                {% if (posts is defined and posts is not empty) %}
                    {% for item in posts %}
                        <div class="col-md-6 mb-4">
                            <div class="card h-100">
                                <div class="p-3">
                                    <h2>{{ item.title }}</h2>
                                    <p>{{ item.text }}</p>
                                    <p>POST ID: {{ item.id }}</p>
                                    <p>{{ item.createdAt|date('d.m. Y H:i') }}</p>
                                    {% if item.createdAt|date('d.m. Y H:i') is same as item.updatedAt|date('d.m. Y H:i') %}
                                    {% else %}
                                        <p>{{ item.updatedAt|date('d.m. Y H:i') }}</p>
                                    {% endif %}
                                    <a href="{{ path('post_delete', {id: item.id}) }}"> Delete</a>
                                    <a href="{{ path('post_edit', {id: item.id}) }}"> Edit</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="navigation d-flex justify-content-center mt-3">
                {{ knp_pagination_render(posts, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig') }}
            </div>
            </div>
        </div>
    </div>
{% endblock %}
