{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('change-password') }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <body id="{% block body_id %}{% endblock %}">
    <small class="text-secondary">Change password | Settings</small>
        <div class="container mt-5">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col col-sm-8 col-md-8 col-lg-6 col-xl-4">
                    {{ form_start(changePasswordForm, {'attr':{'class':'form-signin'}}) }}
                    {{ form_row(changePasswordForm.oldPassword, {'attr': {'class':'form-control mb-2'} }) }}
                    {{ form_row(changePasswordForm.newPassword.first, {'attr': {'class':'form-control mb-2'} }) }}
                    {{ form_row(changePasswordForm.newPassword.second, {'attr': {'class':'form-control mb-2'} }) }}
                    <button class="btn btn-dark btn-lg btn-block mt-3" type="submit">Change password</button>
                    {{ form_end(changePasswordForm) }}
                </div>
            </div>
        </div>
    </body>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('change-password') }}
{% endblock %}