{% set current_path = app.request.get('_route') %}
<body id="body-pd">
    <header class="header" id="header">
        <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
        <div class="user_block"><i class='bx bxs-user-circle bx-md'></i> {{ app.user.username }}</div>
    </header>
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div> <a class="nav_logo"> <i class='bx bx-radio nav_logo-icon'></i> <span class="nav_logo-name">Poslouchej radia</span> </a>
                <div class="nav_list"> 
                    <a href="{{ path('radio_list') }}" class="nav_link {% if current_path == 'radio_list' %} active {% endif %}"> 
                        <i class='bx bx-list-ul nav_icon'></i> 
                        <span class="nav_name">Radio List</span> 
                    </a>
                    <a href="{{ path('radio_add') }}" class="nav_link {% if current_path == 'radio_add' %} active {% endif %}"> 
                        <i class='bx bx-plus-circle nav_icon'></i> 
                        <span class="nav_name">Add radio</span>
                    </a>
                    <a href="{{ path('change_password') }}" class="nav_link {% if current_path == 'change_password' %} active {% endif %}"> 
                        <i class='bx bx-user nav_icon'></i> 
                        <span class="nav_name">Change pass</span> 
                    </a> 
                </div>
            </div> <a href="{{ path('app_logout') }}" class="nav_link"> <i class='bx bx-log-out nav_icon'></i> <span class="nav_name">SignOut</span> </a>
        </nav>
    </div>